<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dataset iniziale</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <style>
        table {
          border-collapse: collapse;
        }
    
        th, td {
          border: 2px solid #333333;
          padding: 18px;
          border-radius: 8px;
        }
      </style>
  </head>
  <body style="background-color:  #c3b091">
    


    <!--         NAVBAR DARK            -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="database.html">DataBase</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="richiesta_operazioni.html">Operazioni</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="statistiche.html">Statistiche</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="overflow-auto" style="width: 100%;">

        <div class="mx-auto text-center" id="tableContainer" style="width: 50%;">
            <table>
                <thead>
                  <tr>
                    <th>Film</th>
                    <th>Year</th>
                    <th>Award</th>
                    <th>Nomination</th>
                  </tr>
                </thead>
                <tbody>
                  {% for index, row in csv_data.iterrows() %}
                  <tr>
                    <td>{{ row['Film'] }}</td>
                    <td>{{ row['Year'] }}</td>
                    <td>{{ row['Award'] }}</td>
                    <td>{{ row['Nomination'] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              

        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>